<mat-nav-list (click)="closeSidenav()">
    <a mat-list-item routerLink="/signup">
        <mat-icon color="primary">person_add</mat-icon>
        <span class="nav-caption">Signup</span>
    </a>
    <a mat-list-item routerLink="/login">
        <mat-icon color="primary">person</mat-icon>
        <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="/training">
        <mat-icon color="primary">fitness_center</mat-icon>
        <span class="nav-caption">Training</span>
    </a>
    <a type="button" mat-list-item>
        <mat-icon color="primary">person_outline</mat-icon>
        <span class="nav-caption">Logout</span>
    </a>
</mat-nav-list>