a {
    text-decoration: none;
    color: #FFD740;
    cursor: pointer;
}

a:hover, a:active {
    color: rgba(0,0,0,.87);
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption {
    display: inline-block;
    padding-left: .2em;
}